In [30]:
!python sw_crawler.py

In [50]:
# set up
import pandas as pd
import numpy as np
import pickle
import time 
import os
import matplotlib.pyplot as plt
import datetime
from operator import itemgetter
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from pylab import *
from matplotlib.font_manager import FontProperties  

with open('DTBS0609.pkl', 'rb') as f:  
    DTBS = pickle.load(f)

In [56]:
# tdt = datetime.date.today().strftime('%Y-%m-%d')
tdt = DTBS['D']['day'][-1]
td= DTBS['D']['day'][-1] 
f = open(tdt+'-info.txt','w', encoding='utf-8')
f.write('今日('+td+')数据库信息简报：\n')

total = 0
codes = []
codes_his = []
for cd in DTBS['A'].keys():
    if DTBS['A'][cd][tdt]['ia'] == 1:
        total += 1
        codes.append(DTBS['B'][cd]['sc'])
    codes_his.append(DTBS['B'][cd]['sc'])
codes = list(set(codes))
codes_his = list(set(codes_his))
sthis = len(codes_his)
stnow = len(codes)
hstr = len(list(DTBS['A'].keys()))
        
f.write('已存储市面上'+str(total)+'支活跃转债信息, 及对应'+str(stnow)+'支活跃正股信息。\n')
f.write('已存储历史上'+str(hstr)+'支转债信息, 及对应'+str(sthis)+'支正股信息。\n')
f.write('已存储'+DTBS['D']['day'][0]+'至'+DTBS['D']['day'][-1]+'日信息, 共有' + str(len(DTBS['D']['day']))+'天。\n')
f.write('A区（转债每日信息）已存储'+str(len(DTBS['A']['110088.SH']['2023-06-09'].keys()))+'个指标。\n')   
f.write('B区（转债基本信息）已存储'+str(len(DTBS['B']['110088.SH'].keys()))+'个指标。\n')    
f.write('C区（指数季度信息）已存储'+str(len(DTBS['C'].keys()))+'个指数。\n')    
f.write('E区（转债对应正股每日信息）已存储'+str(len(DTBS['E']['600985.SH']['2023-06-09'].keys()))+'个指数。\n')  
f.write('F区（转债对应正股季度信息）已存储'+str(len(DTBS['F']['600985.SH']['2023-03'].keys()))+'个指数。\n')    
f.write('G区（转债对应正股基本信息）已存储'+str(len(DTBS['G']['600985.SH'].keys()))+'个指数。\n')    
f.close()

In [53]:
DTBS['B']['110088.SH']

{'cn': '淮22转债',
 'ipo': '2022-10-20',
 'sc': '600985.SH',
 'sn': '淮北矿业',
 'cat1': '煤炭(2021)',
 'cat2': '煤炭开采(2021)',
 'dld': '2046-01-01',
 'sw': '投资',
 'zs': '周期',
 'yqq': '能源',
 'xr': 85,
 'xt1': 20,
 'xt2': 30,
 'gq': 1}

In [49]:
TBS['A'].keys())]
        
dt2 = '2023-06-02'#签意见
count1 = 0
count2 = 0
count3 = 0
s1 = 0
s2 = 0
s3 = 0
mean = []
for cd in DTBS['A'].keys():
    if DTBS['A'][cd][dt2]['ia'] == 1 and DTBS['A'][cd][dt2]['dp'] > 100 and DTBS['A'][cd][dt2]['dp'] < 130:

        count2 += 1
        
for cd in DTBS['A'].keys():
    if DTBS['A'][cd][dt2]['ia'] == 1 and DTBS['A'][cd][dt2]['dp'] > 130 and DTBS['A'][cd][dt2]['dp'] < 10000:

        count3 += 1

                
for cd in DTBS['A'].keys():
    if DTBS['A'][cd][dt2]['ia'] == 1 and DTBS['A'][cd][dt2]['dp'] < 100:

        count1 += 1
print(sthis)

print(len(DTBS['A']['110088.SH']['2023-06-09'].keys()))
print(len(DTBS['B']['110088.SH'].keys()))

723
15
14

In [38]:
dt2 = '2023-06-09'
for cd in DTBS['B'].keys():
    if DTBS['A'][cd][dt2]['ia'] == 1 and DTBS['A'][cd][dt2]['qs30'] != 0:
        print(cd, DTBS['B'][cd]['cn'], DTBS['A'][cd][dt2]['qs30'])

123156.SZ 博汇转债 5
113025.SH 明泰转债 30
113027.SH 华钰转债 14
113534.SH 鼎胜转债 30
113615.SH 金诚转债 30
123013.SZ 横河转债 29
123031.SZ 晶瑞转债 30
123046.SZ 天铁转债 30
123118.SZ 惠城转债 30
128095.SZ 恩捷转债 30
128111.SZ 中矿转债 30
110068.SH 龙净转债 30
110091.SH 合力转债 3
113598.SH 法兰转债 26
113646.SH 永吉转债 10
113664.SH 大元转债 8
123067.SZ 斯莱转债 12
123136.SZ 城市转债 17
123162.SZ 东杰转债 1
127014.SZ 北方转债 30
127029.SZ 中钢转债 30
127064.SZ 杭氧转债 11
128041.SZ 盛路转债 23
110052.SH 贵广转债 16
113016.SH 小康转债 20
113537.SH 文灿转债 30
113626.SH 伯特转债 30
123075.SZ 贝斯转债 1
127037.SZ 银轮转债 7
127065.SZ 瑞鹄转债 30
127069.SZ 小熊转债 30
128082.SZ 华锋转债 4
110055.SH 伊力转债 30
113648.SH 巨星转债 1
128106.SZ 华统转债 30
110057.SH 现代转债 9
123098.SZ 一品转债 30
123150.SZ 九强转债 16
127028.SZ 英特转债 11
127058.SZ 科伦转债 30
128025.SZ 特一转债 30
128091.SZ 新天转债 30
110053.SH 苏银转债 1
110083.SH 苏租转债 4
113057.SH 中银转债 3
110058.SH 永鼎转债 4
113582.SH 火炬转债 28
113594.SH 淳中转债 12
118021.SH 新致转债 23
118030.SH 睿创转债 1
123025.SZ 精测转债 30
123140.SZ 天地转债 1
123164.SZ 法本转债 13
128074.SZ 游族转债 3
128140.SZ 润建转债 30
110048.SH 福能转债 30
110061.SH 川投转债 30
110077.SH 洪城转债 23
110084.SH 贵燃转债 3
113039.SH 嘉泽转债 30
123092.SZ 天壕转债 30
123176.SZ 精测转2 30
123177.SZ 测绘转债 2
123181.SZ 亚康转债 5
123192.SZ 科思转债 16

In [14]:
import requests
import json
import pandas as pd
import numpy as np
import datetime


data_response = requests.get( "https://www.swsresearch.com/institute-sw/api/index_publish/current/?page=1&page_size=50&indextype=%E4%B8%80%E7%BA%A7%E8%A1%8C%E4%B8%9A")

data = data_response.json()

In [35]:
name = '2023-06-09-swid.csv'




new_df = pd.read_csv(name, encoding='utf-8', index_col = 0)
new_df

,nlmy,jchg,gt,ysjs,dz,jydq,spyl,fzfs,qgzz,yysw,...,cm,tx,yx,fyjr,qc,jxsb,ms,sysh,hb,mrhl
name,农林牧渔,基础化工,钢铁,有色金属,电子,家用电器,食品饮料,纺织服饰,轻工制造,医药生物,...,传媒,通信,银行,非银金融,汽车,机械设备,煤炭,石油石化,环保,美容护理
code,801010,801030,801040,801050,801080,801110,801120,801130,801140,801150,...,801760,801770,801780,801790,801880,801890,801950,801960,801970,801980
open,2933.81,3655.29,2203.19,4489.64,3699.05,7059.63,20987.83,1579.11,2256.54,8623.35,...,797.10,2511.07,3260.30,1539.66,5176.01,1439.65,2524.04,2281.02,1765.73,6132.49
close,2938.90,3636.35,2201.77,4518.70,3751.47,6923.16,20912.88,1581.40,2246.95,8700.53,...,823.57,2603.10,3244.97,1533.71,5234.20,1449.84,2523.76,2285.36,1765.89,6045.63
low,2904.19,3616.88,2195.73,4479.16,3675.51,6905.91,20876.34,1570.67,2232.13,8601.02,...,789.47,2499.42,3243.34,1530.10,5175.90,1437.90,2510.95,2265.30,1760.87,6012.09
high,2942.73,3662.71,2206.62,4529.05,3751.47,7065.21,21065.39,1584.60,2258.74,8746.95,...,825.79,2603.10,3267.13,1542.62,5236.06,1450.95,2538.46,2285.36,1770.07,6148.64
amount,12182.14,23156.72,3657.41,29824.36,91177.05,15524.14,21673.17,6141.55,12859.34,61757.89,...,93766.56,58945.93,15270.06,25250.66,31538.57,44163.19,5048.38,7259.85,5979.36,4149.35
number,1309.94,2137.57,907.59,1884.05,5597.38,1445.86,703.48,883.92,1138.37,3287.66,...,7529.62,3269.36,2535.33,2342.03,2598.13,3419.83,689.68,984.16,735.10,157.84

In [29]:
alll = []
allnames = []
for one in data['data']['results']:
    code = one['swindexcode']
    nm = one['swindexname']
    allnames.append(nm)
    cl = one['l8']
    amc = one['l5']
    amq = one['l11']
    op = one['l4']
    lp = one['l7']
    hp = one['l6']
    alll.append([nm, code, op, cl, lp, hp, amc, amq])

alll = np.array(alll)
idx = ['name', 'code', 'open', 'close', 'low', 'high', 'amount', 'number']
allst = [getpinyin(i) for i in allnames]
sw_df = pd.DataFrame(alll.T, columns=allst, index=idx)
sw_df.to_csv(datetime.date.today().strftime('%Y-%m-%d') + '-swid.csv')

In [19]:
def single_get_first(unicode1):
    str1 = unicode1.encode('gbk')
    try:
        ord(str1)
        return str1
    except:
        asc = str1[0] * 256 + str1[1] - 65536
        if asc >= -20319 and asc <= -20284:
            return 'a'
        if asc >= -20283 and asc <= -19776:
            return 'b'
        if asc >= -19775 and asc <= -19219:
            return 'c'
        if asc >= -19218 and asc <= -18711:
            return 'd'
        if asc >= -18710 and asc <= -18527:
            return 'e'
        if asc >= -18526 and asc <= -18240:
            return 'f'
        if asc >= -18239 and asc <= -17923:
            return 'g'
        if asc >= -17922 and asc <= -17418:
            return 'h'
        if asc >= -17417 and asc <= -16475:
            return 'j'
        if asc >= -16474 and asc <= -16213:
            return 'k'
        if asc >= -16212 and asc <= -15641:
            return 'l'
        if asc >= -15640 and asc <= -15166:
            return 'm'
        if asc >= -15165 and asc <= -14923:
            return 'n'
        if asc >= -14922 and asc <= -14915:
            return 'o'
        if asc >= -14914 and asc <= -14631:
            return 'p'
        if asc >= -14630 and asc <= -14150:
            return 'q'
        if asc >= -14149 and asc <= -14091:
            return 'r'
        if asc >= -14090 and asc <= -13119:
            return 's'
        if asc >= -13118 and asc <= -12839:
            return 't'
        if asc >= -12838 and asc <= -12557:
            return 'w'
        if asc >= -12556 and asc <= -11848:
            return 'x'
        if asc >= -11847 and asc <= -11056:
            return 'y'
        if asc >= -11055 and asc <= -10247:
            return 'z'
        return ''
 
 
def getpinyin(string):
    if string == None:
        return None
    lst = list(string)
    charLst = []
    for l in lst:
        charLst.append(single_get_first(l))
    return ''.join(charLst)