In [1]:
# set up
import pandas as pd
import numpy as np
import pickle
import time 
import os
from datetime import datetime
from operator import itemgetter
data_folder_path = 'C:\\Users\\goodluck\\Desktop\\DB'
raw_data_path =  "C:\\Users\\goodluck\\Desktop\\DB\\raw_data"
storage_path =  "C:\\Users\\goodluck\\Desktop\\DB\\database_storage"
DTBS_path = os.path.join(storage_path, "DTBS.pkl")
with open(DTBS_path, 'rb') as f:  
    DTBS = pickle.load(f)

In [2]:
cz_path =  os.path.join(raw_data_path, "gq.CSV")
cz_df = pd.read_csv(cz_path, encoding="gbk")
cz_df.set_index('id',inplace=True)
cz_df

,110088.SH,113545.SH,113631.SH,123128.SZ,123156.SZ,127027.SZ,127061.SZ,110047.SH,110063.SH,110070.SH,...,111013.SH,123195.SZ,123193.SZ,113669.SH,123192.SZ,113670.SH,118034.SH,123196.SZ,127085.SZ,123197.SZ
id,,,,,,,,,,,,,,,,,,,,,
name,淮北矿业(集团)有限责任公司,0,安徽省能源集团有限公司,0,0,靖远煤业集团有限责任公司,0,0,0,凌源钢铁集团有限责任公司,...,0,0,0,0,中信证券股份有限公司,0,0,0,0,0

In [6]:
cz_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, name to name
Columns: 787 entries, 110088.SH to 123197.SZ
dtypes: int64(487), object(300)
memory usage: 6.3+ KB

In [5]:
for code in cz_df.columns:
    if cz_df[code]['name'] != 0:
#         print(cz_df[code]['name'])
        DTBS['B'][code]['gq'] = 1
    else:
        DTBS['B'][code]['gq'] = 0

In [11]:
dgd_path =  os.path.join(raw_data_path, "dgdnm.CSV")
dgd_df = pd.read_csv(dgd_path, encoding="gbk")
dgd_df.set_index('Date',inplace=True)
dgd_df

,600985.SH,603113.SH,603689.SH,300483.SZ,300839.SZ,000552.SZ,000723.SZ,600567.SH,600567.SH.1,600231.SH,...,605162.SH,300487.SZ.1,300787.SZ,603228.SH.2,300856.SZ,603180.SH.1,688223.SH,300645.SZ.1,002120.SZ,300480.SZ
Date,,,,,,,,,,,,,,,,,,,,,
2023/6/7,淮北矿业(集团)有限责任公司,秦庆平,安徽省能源集团有限公司,赣州海德投资合伙企业(有限合伙),宁波市文魁控股集团有限公司,甘肃能源化工投资集团有限公司,美锦能源集团有限公司,福建泰盛实业有限公司,福建泰盛实业有限公司,凌源钢铁集团有限责任公司,...,浙江越盛集团有限公司,寇晓康,周洪亮,深圳市景鸿永泰投资控股有限公司,南京科思投资发展有限公司,厦门市建潘集团有限公司,晶科能源投资有限公司,杭州正元企业管理咨询有限公司,上海罗颉思投资管理有限公司,赵彤宇

In [12]:
for code in dgd_df.columns:
    DTBS['B'][code]['dgd'] = dgd_df[code]['2023/6/7']

KeyError: '600985.SH'

In [8]:
print(DTBS['B']['110088.SH']['gq'])
print(DTBS['B']['113545.SH']['gq'])

1
0

In [13]:
# save
f_save = open(DTBS_path, 'wb')
pickle.dump(DTBS, f_save)
f_save.close()