In [14]:
import pandas as pd
import numpy as np
import pickle
import time 
import os
from datetime import datetime
from operator import itemgetter
data_folder_path = 'C:\\Users\\goodluck\\Desktop\\DB'
raw_data_path =  "C:\\Users\\goodluck\\Desktop\\DB\\raw_data"
storage_path =  "C:\\Users\\goodluck\\Desktop\\DB\\database_storage"
DTBS_path = os.path.join(storage_path, "DTBS.pkl")
with open(DTBS_path, 'rb') as f:  
    DTBS = pickle.load(f)

In [15]:
dn_path =  os.path.join(raw_data_path, "dgdzyl616sc.CSV")
dn_df = pd.read_csv(dn_path, encoding="gbk",low_memory=False)
dn_df.set_index('Date',inplace=True)
dn_df

,600985.SH,603113.SH,603689.SH,300483.SZ,300839.SZ,000552.SZ,000723.SZ,600567.SH,600567.SH.1,600231.SH,...,605162.SH,300487.SZ.1,300787.SZ,603228.SH.2,300856.SZ,603180.SH.1,688223.SH,300645.SZ.1,002120.SZ,300480.SZ
Date,,,,,,,,,,,,,,,,,,,,,
2017/1/3,50.0,0.0000,0.0,77.4644,0.0,0.0,94.6726,81.3572,81.3572,23.1859,...,0.0000,0.000,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0000,8.1474
2017/1/4,50.0,0.0000,0.0,77.4644,0.0,0.0,94.6726,81.3572,81.3572,23.1859,...,0.0000,0.000,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0000,8.1474
2017/1/5,50.0,0.0000,0.0,77.4644,0.0,0.0,94.6726,81.3572,81.3572,23.1859,...,0.0000,0.000,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0000,8.1474
2017/1/6,50.0,0.0000,0.0,77.4644,0.0,0.0,94.6726,81.3572,81.3572,23.1859,...,0.0000,0.000,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0000,8.1474
2017/1/9,50.0,0.0000,0.0,77.4644,0.0,0.0,86.7316,81.3572,81.3572,23.1859,...,0.0000,0.000,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0000,8.1474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/6/12,0.0,40.4832,0.0,0.0000,0.0,0.0,98.7132,70.8047,70.8047,45.8156,...,16.7518,1.394,52.2751,0.0,0.0,36.7234,0.0,68.1559,23.1356,22.6905
2023/6/13,0.0,40.4832,0.0,0.0000,0.0,0.0,98.7132,70.8047,70.8047,45.8156,...,16.7518,1.394,52.2751,0.0,0.0,36.7234,0.0,68.1559,23.1356,22.6905
2023/6/14,0.0,40.4832,0.0,0.0000,0.0,0.0,98.7132,70.8047,70.8047,45.8156,...,16.7518,1.394,52.2751,0.0,0.0,36.7234,0.0,68.1559,23.1356,22.6905
2023/6/15,0.0,40.4832,0.0,0.0000,0.0,0.0,98.7132,70.8047,70.8047,45.8156,...,16.7518,1.394,52.2751,0.0,0.0,36.7234,0.0,68.1559,23.1356,22.6905
2023/6/16,0.0,40.4832,0.0,0.0000,0.0,0.0,98.7132,70.8047,70.8047,45.8156,...,16.7518,1.394,52.2751,0.0,0.0,36.7234,0.0,68.1559,23.1356,22.6905

In [16]:
def slash_dash_convert(t):
    if t[4] == '/':
        t = datetime.strptime(t, '%Y/%m/%d')
        t = t.strftime('%Y-%m-%d')
    elif t[4] == '-':
        t = datetime.strptime(t,'%Y-%m-%d')
        t = t.strftime('%Y/%m/%d').replace('/0','/')

    else:
        print("Wrong Input!")
        
    return t

slash_dash_convert('2023/6/8')

'2023-06-08'

In [18]:
for code in DTBS['E'].keys():
    for date in DTBS['D']['day'][:1562]:
        dft = slash_dash_convert(date)
        DTBS['E'][code][date]['zyl'] = dn_df[code][dft]

In [8]:
 DTBS['D']['day'][1562]

'2023-06-08'

In [19]:
# save
f_save = open(DTBS_path, 'wb')
pickle.dump(DTBS, f_save)
f_save.close()